h1,
h2,
h3,
p {
    color: grey;
    font-family: helvetica;
}

#banner-name-text {
    color: RGB(229, 229, 229);
    font-family: helvetica;
    font-size: 60px;
    text-decoration: none;
    margin-left: 20px;

}

#MyProfileButton {
    margin-top: 15px;
}

.PodcastSearchSectionTitle {
    color: white;
}

.banner {
    height: 200px;
    background-color: #023e8a;
}

.OwnerElement {
    display: none;
}

.DeleteContentButton {
    height: 30px;
    width: 30px;
}

#ShowMore,
#ShowLess {
    color: RGB(229, 229, 229);
    font-family: helvetica;
    padding: 200px;
}

.ShowMore {
    display: none;
    padding: 20px;
}

#ShowLess {
    margin-top: 50px;
    padding: 20px;
}

.YouTubeForm {
    margin: 15px;
}

.LinkText {
    color: #8e9aaf;
    text-decoration: none;
    font-size: 25px;
}

.RecentActivityText {
    color: #8e9aaf;
    text-decoration: none;

}

#podThumbmail {
    position: relative;
}

.PodcastSearchResultsSection {
    background-color: gainsboro;
}

.PodcastEpisodeSearchThumbnail {
    margin: 15px;
}

.EpisodeSearchTitle {
    font-family: helvetica;
    color: black;
}

.AddpodcastButton {
    margin: 10px;
}

.AddpodcastEpisodeButton {
    margin: 10px;
}

.PodcastSearchResultsSection {
    display: none;
}

#ManualPodcastEpisodeURL {
    width: 500px;
    font-size: 14pt;
}

.SavedPodcastThumbnail {
    width: 200px;
    height: 200px;
    margin: 5px;
}

.SavedPodcastEpisodeThumbnail {
    width: 80px;
    height: 80px;
    margin: 5px;
}

.PodcastPlayButton {
    width: 80px;
    height: 80px;
    margin: 5px;
}

.ListenNotes {
    width: 200px;
    height: 20px;
    margin: 15px;
}

.PodcastEpisodeTitle {
    color: RGB(229, 229, 229);
    font-family: helvetica;
    font-size: 20pt;

}

#PodcastPlayerFrame {
    margin-top: 20px;
}

.RecentActivityTitleText {
    color: grey;
}

#RecentActivityList {
    overflow-y: scroll;
    height: 1000px;
    display: block;
}

.ActivityProfileImage {
    border-radius: 50%
}

#ArticleSection {
    padding-bottom: 100px;
}